# Apache server config.
<IfModule mod_rewrite.c>
    # open Rerite
    RewriteEngine On

    # request to real file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # send other request to index.php
    RewriteRule . index.php
</IfModule>